@font-face {
    font-family: 'Noto';
    font-weight: 400;
    src: url(fonts/NotoSansKR-Regular.woff2) format('woff2');
}

* {
    font-family: 'Noto';
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    /* smooth 처리 */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main_bg {
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    position: absolute;
    z-index: -1;
}

.main_cont {
    width: 50vw;
    min-width: 400px;
    height: 100vh;
    background-color: #FFFFFF;
    position: relative;
}

@media (max-aspect-ratio: 1/1) {
    .main_cont {
        width: 100vw;
        min-width: unset;
        height: 100vh;
    }
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    pointer-events: none;
}

.default_btn:active {
    background-color: #999999;
    color: #FFFFFF;
}

.input_zone {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.txt_string{
    background-color: #666666;
    color: #FFFFFF;
}

.input_zone input {
    width: 100%;
    height: 50px;
    font-size: clamp(15px, 10vw, 30px);
    text-align: center;
    margin: 5px 0px;
    font-family: CookieRunBlack;
}

.emoji_btn_zone {
    width: 100%;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.btn_convert {
    font-size: 1.5rem;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
    box-sizing: border-box;
    background: #DCB8A6;
    margin: 5px 0px;
}

.btn_add {
    font-size: clamp(10px, 2.5vw, 25px);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
    box-sizing: border-box;
    background: #FFFFFF;
    margin: 5px 0px;
}

.main_png_zone {
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    position: relative;
}

.btns_zone {
    margin: 5px 0px;
    width: 100%;
    display: grid;
    place-items: center;
    gap: 5px;
    grid-template-columns: repeat(4, minmax(1px, 1fr));
}

.font_btn {
    font-size: clamp(8px, 3vw, 16px);
    width: 97%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #9BB4B3;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.font_btn.active {
    background: #5E2D35;
    color: #FFFFFF;
}

.download_zone {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_download {
    font-size: 1.5rem;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
    box-sizing: border-box;
    /*    margin: 5px;*/
    background: #DCB8A6;
}

.stroke_reset {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swal2-container {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    width: 100% !important;
    height: 100% !important;
    padding: 0 !important;
}




.main_png_txt {
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 1);
    box-sizing: content-box;
    display: flex;
}

.main_png_txt .ticker {
    display: inline-block;
    white-space: nowrap;
    will-change: transform;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: flow;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.main_png_txt .ticker__item {
    font-family: CookieRunBlack;
    font-size: 3rem;
    display: inline-block;
    padding: 0 2rem;
    color: #FFFFFF;
}

/* 왼쪽으로 흐르는 애니메이션 정의 */
@keyframes flow {
    0% {
        transform: translateX(0);
    }

    100% {
        /* 자기 자신의 너비만큼 왼쪽으로 이동 */
        transform: translateX(-100%);
    }
}


.color_zone {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type='color'] {
    height: 60%;
    width: 35px;
}

.color_zone label {
    margin: 0px 10px;
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    /* 글자 수직 중앙 정렬 */
    justify-content: center;
    /* 필요 시 수평 정렬 */
    font-size: clamp(5px, 5vw, 17px);
    font-family: 'Noto';
}